{% extends 'base.html.twig' %}
{% block body %}
    <div class="card-header">
        <h5 class="card-title">Questions</h5>
        <p class="card-category">hello folen foulani </p>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead class=" text-primary">
            <th>
                Questions:
            </th>
            <th>
            </th>
            </thead>
            <tbody id="tab">
            {% for user in users  %}
                {%  for survey in user.surveys %}
            <tr>
                <td colspan="4" style="border-bottom:0px #ffffff;font-family: 'Roboto Mono', monospace;"> patients {{ survey.createdby.lastname }} {{ survey.createdby.firstname }}</td>
            </tr>
            <tr>
                <td>
                <div style="text-align:center;">
                 {% for question in survey.questions %}
                    <div class="block"><img src='{% if question.response == "yes" %}/assets/img/tick.svg {% else %}/assets/img/cancel.svg{% endif %}' width="10"> {{ question.title }}</div>
                 {% endfor %}
                </div>
                <div style="font-family: 'Lora', serif;text-align:center;margin-top:2em">
                    {{survey.feedback}}
                </div>
                </td>
                <td style="text-align: right;font-family: 'Lora';">
                    {% if survey.answer == null  %}
                    <i class="nc-icon nc-sound-wave"></i>
                    <a class="btn btn-sm btn-danger" href="{{ path('DoctorAnswer',{'id':survey.id}) }}" style="border-radius: 100px; background-color: #cc0b00;color: white;">reply</a>
                    {% else %}
                      <i class="nc-icon nc-sound-wave"></i>
                    <a class="btn btn-sm btn-success" href="{{ path('DoctorAnswer',{'id':survey.id}) }}" style="border-radius: 100px; background-color: #00cc00;color: white;">answered</a>
                       <!-- <img src="/assets/img/shield.svg" width="40">-->
                    {% endif %}
                </td>
            </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
  {% block dinamycAdd %}
      let q = "{{ surveys }}" ;
      let d = JSON.parse(e.data);
      let row1 = mytab.insertRow(0);
      let cell3= row1.insertCell(0);
      cell3.innerHTML =`Question ${(Number(q) +notif)} :`;
      cell3.setAttribute("colspan",'4');
      let row2 = mytab.insertRow(1);
      let cell1 = row2.insertCell(0);
      let cell2 = row2.insertCell(1);
      cell1.innerHTML= `${d.feedback}`;
      let i =document.createElement('i');
      let button = document.createElement("a");
      cell2.appendChild(i);
      cell2.appendChild(button);
      cell2.style.textAlign="right";
      i.setAttribute('class',"nc-icon nc-sound-wave");
      button.setAttribute("class","btn btn-sm btn-danger");
      button.setAttribute("style","border-radius: 100px; background-color: #cc0b00;color: white;");
      button.setAttribute("href",`/profile/${d.id}/answer`)
      button.innerText="répondre";
  {% endblock %}