
{% set current_path = app.request.get('_route') %}

<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text logo-mini">
            <!-- <div class="logo-image-small">
              <img src="./assets/img/logo-small.png">
            </div> -->
            <!-- <p>CT</p> -->
        </a>
        <a href="{{ path('profile') }}" class="simple-text logo-normal">
           وزارة الصحة
            <!-- <div class="logo-image-big">
              <img src="../assets/img/logo-big.png">
            </div> -->
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="{% if current_path == "user_show" %} active {% endif %}">
                <a href="{{ path('user_show',{'id':app.user.id})}}">
                    <i class="nc-icon nc-circle-10"></i>
                    <p> MY profile  </p>
                </a>
            </li>
            <li class="{% if current_path == "profile" %} active {% endif %}">
                <a href="{{ path('profile')}}">
                    <i class="nc-icon nc-layout-11"></i>
                    <p> Dashboard </p>
                </a>
            </li>
            <li class="{% if current_path == "patients" %} active {% endif %}">
                <a href="{{ path('patients') }}">
                    <i class="nc-icon nc-badge"></i>
                    <p>Patients</p>
                </a>
            </li>
            <li class="{% if current_path == "user_doctor_new" %} active {% endif %}">
                <a href="{{ path('user_doctor_new') }}">
                    <i class="nc-icon nc-single-02"></i>
                    <p>add doctor </p>
                </a>
            </li>
            <li class="">
                <a href="#">
                    <i class="nc-icon nc-chat-33"></i>
                    <p>add conversarion  </p>
                </a>
            </li>
            <li class="{% if current_path == "user_new" %} active {% endif %}">
                <a href="{{path('user_new')}}">
                    <i class="nc-icon nc-badge"></i>
                    <p>add Patient </p>
                </a>
            </li>
        </ul>
    </div>
</div>